
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    text-align: justify;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat:no-repeat;
}
.orange-name{
    color: orange;
}
.half-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-part img{
    width: 100%;
}
.hire-btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background-image: linear-gradient( 45deg, lightsalmon, tomato);
}
.dream-part{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experienc-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    height: 75%;
    background: #fff;
    padding: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 14px;
}